REFRESH_TOKEN_PRIVATE_KEY = "-----BEGIN PRIVATE KEY-----\nXXXXXXXXXXXXX\n-----END PRIVATE KEY-----"
REFRESH_TOKEN_PUBLIC_KEY = "-----BEGIN PUBLIC KEY-----\nXXXXXXXXXXXXX\n-----END PUBLIC KEY-----"

ACCESS_TOKEN_PRIVATE_KEY = "-----BEGIN PRIVATE KEY-----\nXXXXXXXXXXXXX\n-----END PRIVATE KEY-----"
ACCESS_TOKEN_PUBLIC_KEY = "-----BEGIN PUBLIC KEY-----\nXXXXXXXXXXXXX\n-----END PUBLIC KEY-----"

UUID_KEYWORD = "MyAPP"
MONGO_URL="mongodb://localhost:27017"

GOOGLE_CLIENT_ID = "GOOGLE CLIENT ID"